@font-face {
    font-family: "Montserrat Italic";
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Josefin_Sans_Italic";
    src: url("../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Josefin_Sans";
  src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin_Sans_Bold";
  src: url("../fonts/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Dancing_Script";
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf");
}

.pointer{
  cursor: pointer;
  color:#1E1E1E;
  
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.first-strip{
    color:#1E1E1E;
    font-family:'Montserrat Italic';
    font-size: 14px;
}

body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background:#EDEDEE;
   
}

.header-bg{
  background:white;
}
  
.bg {
    /* The image used */
    /* background-image: url(../img/kate1.jpg); */
  
    /* Full height */
    height: 58%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.nav1-color{
  background-color: #1E1E1E;
  font-family: "Josefin_Sans_Italic";
  
}

.nav1-shadow{
  box-shadow: 5px 5px 14px -2px rgba(0,0,0,0.99);
}

.dp-menu{
  background-color: #1E1E1E;
  opacity:0.8;
}


.dp-hover:hover{
  background-color:#059200;
  border-color: #059200;
  outline-color: #059200;
  color:white;
}



.design-font{
  font-size: 10px;
}



  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height:20%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: right;
  }

  .overlay-text{
    font-family: "Dancing_Script",cursive;
    font-size:25px;
  }

  .paragraph-text{
    font-family: "Montserrat";
  }

  .read-more-btn{
   
    border-radius: 8px;
    -moz-outline-radius: 8px;
    font-family:Josefin_Sans;
  }

  .heading-text{
    font-family:"Josefin_Sans_Bold";
    color:#059200;
    
  }

  .shadow-card{
    box-shadow: 5px 5px 14px -2px rgba(0,0,0,0.99);
    background: white;
    
  }

  .parallax{
    background-image:url(../img/aboutus/business.png);
    /* Full height */
    height: 450px;
    bottom:10%;
    width:100%; 
    background-color:darkolivegreen;
    opacity:0.9;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2{
    background-image:url(../img/home/cocopeat2.png);
    /* Full height */
    height: 10%;
    bottom:10%;
    width:100%; 
    background-color:darkolivegreen;
    opacity:0.9;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .copyright{
    background-color: #1e1e1e;
  }

  .sec2{
      width:100%;
      height:850px;
      background: #EDEDEE;
      position:relative;
  }

 .sec2:before{
    content:'';
    width:50%;
    height:100px;
    position: absolute;
    top:-48px;
    left:0;
    background:#EDEDEE;
    transform: skewY(8deg);
}

.sec2:after{
    content:'';
    width:50%;
    height:100px;
    position: absolute;
    top:-48px;
    right:0;
    background: #EDEDEE;
    transform: skewY(-8deg);
}

.small-card{
    font-family:"Josefin_Sans_Bold";
    font-size:24px;
}

.small-icon{
    padding-left:32%;
    color:#059200;
    
}
  /* .swiper-slide:hover .overlay {
    opacity: 1;
  } */
.containerpos{
    position: relative;
    top:20px;
    z-index: 2;
}

.heading-text-p{
    border-left-color: black;
    border-left-width: 2%;
    border-left-style: solid; 
    font-family:"Josefin_Sans_Bold";
    color:white;
    background-color: #059200;
    padding-left: 5%;
    font-size: 24px;
    border-radius:5px;
    width: 100%;
}


.heading-text-a{
    border-left-color: black;
    border-left-width: 2%;
    border-left-style: solid; 
    font-family:"Josefin_Sans_Bold";
    color:white;
    background-color: #059200;
    padding-left: 1%;
    font-size: 24px;
    border-radius:5px;
    width: 100%;
}

.gray-card{
  background-color: darkslategray;
  color:white;
}
  
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: olivedrab; /* Set a background color */
  
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 50px; /* Rounded corners */
  padding:8px;
  /* padding-top: 5px;
  padding-bottom:5px; */
 
}

#myBtn:hover {
  background-color:#1e1e1e; /* Add a dark-grey background on hover */
}
  /* new nav bar */

  @media screen and (max-width: 600px) {
  
    .welcome-item{
      margin-top: 50%;
      
    }
  
    .welcome{
      height:50%;
      width:100%;
      margin-top:20px;
    }
  
  
    
  
    .social-icons{
      padding-bottom: 10px;
      padding-top:10px;
    }

    .sec2-mob{
      height:2100px;
    }
    
    
  }
  
  
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
    .welcome-item{
      margin-top: 10%;
      
    }
  
    .welcome{
      height:50%;
      width:100%;
      left:20px;
    }

    .sec2-tab{
      height:900px;
    }

    #myBtn {
      right:80px;
    }
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sec2{
    width:100%;
    height:850px;
    background: #EDEDEE;
    position:relative;

 
}

#myBtn {
  right:50px;
}

  
}   